:root {
  --br: 0.35rem;
  --pd: 1.5rem;

  /* svelte colors */
  /*--bg: #f6fafd;*/
  /*--bg-second: #fff;*/
  /*--second: #676778;*/
  /*--text: #444;*/
  /*--flash: #40b3ff;*/
  /*--back-api: #e5eef5;*/

  /* steam colors */
  --bg: #1b2838;
  --bg-second: #171A21;
  --bg-third: rgba(0, 0, 0, 0.2);;
  --text: #b8b6b4;
  --text-active: #fff;
  --accent: #66C0F4;
  --accent-second: #C6D4DF;

  --orange-base: #ff3e00
}
